In [44]:
import pandas as pd
import numpy as np

Importing data sets and combining them into one csv file

In [45]:
df1 = pd.read_csv("Crop_recommendation.csv")
df1.head()


df2 =pd.read_csv("CropNFert.csv")
df2.head()

,District_Name,Soil_color,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature,Crop,Fertilizer,Link
0,Kolhapur,Black,75,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
1,Kolhapur,Black,80,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
2,Kolhapur,Black,85,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
3,Kolhapur,Black,90,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
4,Kolhapur,Black,95,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo

Removing unnecessary columns and rows in the first data set

In [46]:
#Selecting the columns we are going to keep
columns_to_keep_df1 =['Nitrogen','phosphorus','potassium','temperature','ph','rainfall','label']
df1 = df1[columns_to_keep_df1]
df1.head()

# isin() function to select rows we will keep

options1 = ['rice', 'mothbeans','kidneybeans']
new_df1 = df1[df1['label'].isin(options1)]
new_df1.head()

   Nitrogen  phosphorus  potassium  temperature        ph    rainfall label
0        90          42         43    20.879744  6.502985  202.935536  rice
1        85          58         41    21.770462  7.038096  226.655537  rice
2        60          55         44    23.004459  7.840207  263.964248  rice
3        74          35         40    26.491096  6.980401  242.864034  rice
4        78          42         42    20.130175  7.628473  262.717340  rice

We do the same for the second dataset

In [47]:
#Selecting the columns we are going to keep
columns_to_keep_df2 =['Nitrogen','Phosphorus','Potassium','Temperature','pH','Rainfall','Crop']
df2 = df2[columns_to_keep_df2]

# isin() function to select rows we will keep

options2 = ['Rice', 'Groundnut', 'Maize']
new_df2 = df2[df2['Crop'].isin(options2)]
new_df2.head()

     Nitrogen  Phosphorus  Potassium  Temperature   pH  Rainfall  Crop
624        20          15         20           25  5.5       700  Rice
625        25          15         20           25  5.5       700  Rice
626        30          15         20           25  5.5       700  Rice
627        20          20         25           30  6.0       800  Rice
628        25          20         25           30  6.0       800  Rice

Mapping the names of columns to rename the column names of the first dataset to the names of the second dataset to ensure no data is lost when concatenating

In [48]:
column_mapping = {
    'phosphorus': 'Phosphorus',
    'potassium': 'Potassium',
    'temperature': 'Temperature',
    'ph': 'pH',
    'rainfall': 'Rainfall',
    'label' : 'Crop'

}

# Rename columns in new_df1 based on the mapping
new_df1 = new_df1.rename(columns=column_mapping)
new_df1.head()
new_df2.head()

     Nitrogen  Phosphorus  Potassium  Temperature   pH  Rainfall  Crop
624        20          15         20           25  5.5       700  Rice
625        25          15         20           25  5.5       700  Rice
626        30          15         20           25  5.5       700  Rice
627        20          20         25           30  6.0       800  Rice
628        25          20         25           30  6.0       800  Rice

checking the index(s) for each dataset

In [49]:
print(new_df1.index)
print(new_df2.index)

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       590, 591, 592, 593, 594, 595, 596, 597, 598, 599],
      dtype='int64', length=300)
Index([ 624,  625,  626,  627,  628,  629,  630,  631,  632,  633,
       ...
       4204, 4205, 4206, 4207, 4208, 4209, 4210, 4211, 4212, 4213],
      dtype='int64', length=836)

Resetting Index(s)

In [50]:
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)
print(new_df1.index)
print(new_df2.index)

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       590, 591, 592, 593, 594, 595, 596, 597, 598, 599],
      dtype='int64', length=300)
Index([ 624,  625,  626,  627,  628,  629,  630,  631,  632,  633,
       ...
       4204, 4205, 4206, 4207, 4208, 4209, 4210, 4211, 4212, 4213],
      dtype='int64', length=836)

Then we concatinate the two new data frames into on data frame

In [51]:
concatenated_df = pd.concat([new_df1, new_df2], axis=0)
#concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.drop_duplicates(keep='first', inplace=True)
concatenated_df.head()

   Nitrogen  Phosphorus  Potassium  Temperature        pH    Rainfall  Crop
0        90          42         43    20.879744  6.502985  202.935536  rice
1        85          58         41    21.770462  7.038096  226.655537  rice
2        60          55         44    23.004459  7.840207  263.964248  rice
3        74          35         40    26.491096  6.980401  242.864034  rice
4        78          42         42    20.130175  7.628473  262.717340  rice

Checking if any of the data is missing ie Null values

In [52]:
print(concatenated_df.isnull().sum())
concatenated_df.info()

Nitrogen       0
Phosphorus     0
Potassium      0
Temperature    0
pH             0
Rainfall       0
Crop           0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1119 entries, 0 to 4213
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     1119 non-null   int64
 1   Phosphorus   1119 non-null   int64
 2   Potassium    1119 non-null   int64
 3   Temperature  1119 non-null   float64
 4   pH           1119 non-null   float64
 5   Rainfall     1119 non-null   float64
 6   Crop         1119 non-null   object
dtypes: float64(3), int64(3), object(1)
memory usage: 69.9+ KB

splitting the data frame into the x terms and y terms

In [53]:
x=concatenated_df.drop('Crop', axis= 1)
y= concatenated_df['Crop']

Splitting the two new dataframes into training data and testing data while ensuring the new sub datasets represent their parent dataframes by stratify.

In [54]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(x,y, stratify= y, random_state=1)

Training the Logistic Regression model and checking its accuracy in percentage

In [55]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
logistic_accuracy =accuracy_score(y_test,y_pred)

print("The accuracy of logistic regression on testing data is " + str(logistic_accuracy *100) +" %")

The accuracy of logistic regression on testing data is 97.5 %

c:\Users\joana\anaconda3\envs\project\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

testing accuracy of the logistic regression model

In [56]:
model = LogisticRegression()
model.fit(x_train, y_train)
y_train_pred = model.predict(x_train)
training_accuracy = accuracy_score(y_train, y_train_pred)

print("The accuracy of logistic regression on training data is " + str(training_accuracy * 100) + " %")

The accuracy of logistic regression on training data is 98.80810488676997 %

c:\Users\joana\anaconda3\envs\project\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

We do the same for the decision tree model

In [57]:
from sklearn.tree import DecisionTreeClassifier
model_2 = DecisionTreeClassifier(criterion='entropy',max_depth = 6, random_state = 2)
model_2.fit(x_train, y_train)
y_pred_test_2 = model_2.predict(x_test)
decision_acc_test = accuracy_score(y_test, y_pred_test_2)
print("Accuracy of decision tree in testing is " + str(decision_acc_test *100) +"%")

Accuracy of decision tree in testing is 98.92857142857143%

Now the decision tree's training accuracy

In [58]:
model_2.fit(x_train, y_train)
y_pred_train_2 = model_2.predict(x_train)
decision_acc = accuracy_score(y_train, y_pred_train_2)
print("Accuracy of decision  tree in training is " + str(decision_acc *100) +"%")

Accuracy of decision  tree in training is 99.28486293206198%

Now we do the same with the naive_bayes model

In [59]:
from sklearn.naive_bayes import GaussianNB
model_3 = GaussianNB()
model_3.fit(x_train, y_train)
y_pred_train_3 = model_3.predict(x_train)
naive_bayes_acc = accuracy_score(y_train, y_pred_train_3)
print("Accuracy of naive_bayes in training is " + str(naive_bayes_acc*100)+"%")

Accuracy of naive_bayes in training is 96.7818831942789%

In [60]:
model_3.fit(x_train, y_train)
y_pred_test_3 = model_3.predict(x_test)
naive_bayes_acc = accuracy_score(y_test, y_pred_test_3)
print("Accuracy of naive_bayes in testing is " + str(naive_bayes_acc*100)+"%")

Accuracy of naive_bayes in testing is 95.71428571428572%

Now to check the random forest model's accuracy in the same way

In [61]:
from sklearn.ensemble import RandomForestClassifier
model_4 = RandomForestClassifier(n_estimators = 25, random_state=2)
model_4.fit(x_train, y_train)
y_pred_train_4 = model_4.predict(x_train)
random_fore_acc = accuracy_score(y_train, y_pred_train_4)
print("Accuracy of Random Forest in training is " + str(random_fore_acc*100)+"%")

Accuracy of Random Forest in training is 100.0%

In [62]:
model_4.fit(x_train, y_train)
y_pred_test_4 = model_4.predict(x_test)
random_fore_acc = accuracy_score(y_test, y_pred_test_4)
print("Accuracy of Random Forest in training is " + str(random_fore_acc*100)+"%")

Accuracy of Random Forest in training is 100.0%