In [63]:
import pandas as pd
import numpy as np
import sklearn

3333333333333333333333333333333333333############################### 1.3.2

Importing data sets and combining them into one csv file

In [33]:
df1 = pd.read_csv("Crop_recommendation.csv")
df1.head()

,nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice

In [34]:
df1.label.value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [35]:


df2 =pd.read_csv("Maize.csv")
df2.head()

   Nitrogen  Phosphorus  Potassium  Temperature        pH   Crop
0        68          23         57    28.163737  6.974024  Maize
1        76          30         71    28.941109  7.190303  Maize
2        81          25         49    27.270008  6.943304  Maize
3        73          38         62    24.406165  6.297079  Maize
4        63          21         54    27.355385  6.238089  Maize

Removing unnecessary columns and rows in the first data set

In [36]:
#Selecting the columns we are going to keep
columns_to_keep_df1 =['nitrogen','phosphorus','potassium','temperature','ph','label']
df1 = df1[columns_to_keep_df1]
df1.head()

# isin() function to select rows we will keep

options1 = ['rice', 'mothbeans','kidneybeans']
new_df1 = df1[df1['label'].isin(options1)]

We do the same for the second dataset

Mapping the names of columns to rename the column names of the first dataset to the names of the second dataset to ensure no data is lost when concatenating

In [37]:
column_mapping = {
    'nitrogen':'Nitrogen',
    'phosphorus': 'Phosphorus',
    'potassium': 'Potassium',
    'temperature': 'Temperature',
    'ph': 'pH',
    'rainfall': 'Rainfall',
    'label' : 'Crop'

}

# Rename columns in new_df1 based on the mapping
new_df1 = new_df1.rename(columns=column_mapping)
new_df1.head()
df2.head()

   Nitrogen  Phosphorus  Potassium  Temperature        pH   Crop
0        68          23         57    28.163737  6.974024  Maize
1        76          30         71    28.941109  7.190303  Maize
2        81          25         49    27.270008  6.943304  Maize
3        73          38         62    24.406165  6.297079  Maize
4        63          21         54    27.355385  6.238089  Maize

checking the index(s) for each dataset

In [38]:
print(new_df1.index)
print(df2.index)

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       590, 591, 592, 593, 594, 595, 596, 597, 598, 599],
      dtype='int64', length=300)
RangeIndex(start=0, stop=100, step=1)

Resetting Index(s)

In [39]:
new_df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)
print(df1.index)
print(df2.index)

RangeIndex(start=0, stop=2200, step=1)
RangeIndex(start=0, stop=100, step=1)

Then we concatinate the two new data frames into on data frame

In [40]:
concatenated_df = pd.concat([new_df1, df2], axis=0,ignore_index=True)
#concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.drop_duplicates(keep='first', inplace=True)
concatenated_df.head()

   Nitrogen  Phosphorus  Potassium  Temperature        pH  Crop
0        90          42         43    20.879744  6.502985  rice
1        85          58         41    21.770462  7.038096  rice
2        60          55         44    23.004459  7.840207  rice
3        74          35         40    26.491096  6.980401  rice
4        78          42         42    20.130175  7.628473  rice

Checking if any of the data is missing ie Null values

In [41]:
print(concatenated_df.isnull().sum())
concatenated_df.info()
concatenated_df.head()
cleaned_df = concatenated_df.dropna()

Nitrogen       0
Phosphorus     0
Potassium      0
Temperature    0
pH             0
Crop           0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     400 non-null    int64
 1   Phosphorus   400 non-null    int64
 2   Potassium    400 non-null    int64
 3   Temperature  400 non-null    float64
 4   pH           400 non-null    float64
 5   Crop         400 non-null    object
dtypes: float64(2), int64(3), object(1)
memory usage: 18.9+ KB

splitting the data frame into the x terms and y terms

In [42]:
x=cleaned_df.drop('Crop', axis= 1)
y= cleaned_df['Crop']

Splitting the two new dataframes into training data and testing data while ensuring the new sub datasets represent their parent dataframes by stratify.

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(x,y,stratify=y, random_state=1)

Training the Logistic Regression model and checking its accuracy in percentage

In [44]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
logistic_accuracy =accuracy_score(y_test,y_pred)

print("The accuracy of logistic regression on testing data is " + str(logistic_accuracy *100) +" %")

The accuracy of logistic regression on testing data is 97.0 %

c:\Users\bsc_inf_14_18.COMLAB\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [45]:
print(y_train.shape)
y_pred.shape

(300,)

(100,)

testing accuracy of the logistic regression model

We do the same for the decision tree model

In [46]:
from sklearn.tree import DecisionTreeClassifier
model_2 = DecisionTreeClassifier(criterion='entropy',max_depth = 6, random_state = 2)
model_2.fit(x_train, y_train)
y_pred_test_2 = model_2.predict(x_test)
decision_acc_test = accuracy_score(y_test, y_pred_test_2)
print("Accuracy of decision tree in testing is " + str(decision_acc_test *100) +"%")

Accuracy of decision tree in testing is 96.0%

Now the decision tree's training accuracy

In [47]:
from sklearn.tree import DecisionTreeClassifier
model_2 = DecisionTreeClassifier(criterion='entropy',max_depth = 6, random_state = 2)
model_2.fit(x_train, y_train)
y_pred_test_2 = model_2.predict(x_train)
decision_acc_test = accuracy_score(y_train, y_pred_test_2)
print("Accuracy of decision tree in testing is " + str(decision_acc_test *100) +"%")

Accuracy of decision tree in testing is 99.66666666666667%

Now we do the same with the naive_bayes model

In [48]:
from sklearn.naive_bayes import GaussianNB
model_3 = GaussianNB()
model_3.fit(x_train, y_train)
y_pred_train_3 = model_3.predict(x_train)
naive_bayes_acc = accuracy_score(y_train, y_pred_train_3)
print("Accuracy of naive_bayes in training is " + str(naive_bayes_acc*100)+"%")

Accuracy of naive_bayes in training is 98.66666666666667%

In [49]:
model_3.fit(x_train, y_train)
y_pred_test_3 = model_3.predict(x_test)
naive_bayes_acc = accuracy_score(y_test, y_pred_test_3)
print("Accuracy of naive_bayes in testing is " + str(naive_bayes_acc*100)+"%")

Accuracy of naive_bayes in testing is 98.0%

In [50]:
from sklearn.tree import DecisionTreeClassifier
rf_classifier = DecisionTreeClassifier(criterion='entropy',max_depth = 6, random_state = 2)
rf_classifier.fit(x_train, y_train)
print(f'Final Training Accuracy: {rf_classifier.score(x_train,y_train)*100}%')
print(f'Model Accuracy: {rf_classifier.score(x_test,y_test)*100}%')

Final Training Accuracy: 99.66666666666667%
Model Accuracy: 96.0%

Now to check the random forest model's accuracy in the same way

In [51]:
from sklearn.ensemble import RandomForestClassifier
model_4 = RandomForestClassifier(n_estimators = 25, random_state=2)
model_4.fit(x_train, y_train)
y_pred_train_4 = model_4.predict(x_train)
random_fore_acc = accuracy_score(y_train, y_pred_train_4)
print("Accuracy of Random Forest in training is " + str(random_fore_acc*100)+"%")

Accuracy of Random Forest in training is 100.0%

In [52]:
model_4.fit(x_train, y_train)
y_pred_test_4 = model_4.predict(x_test)
random_fore_acc = accuracy_score(y_test.values, y_pred_test_4)
print("Accuracy of Random Forest in testing is " + str(random_fore_acc*100)+"%")

Accuracy of Random Forest in testing is 98.0%

In [53]:
import joblib

In [54]:
file_name = 'crop_app'

In [55]:
joblib.dump(model_4, 'crop_app')

['crop_app']

In [56]:
app =joblib.load('crop_app')

was giving out a warning about the feature names : UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [57]:

#features = ['Nitrogen', 'Phosphorus', 'Potassium', 'Temperature', 'pH']
arr = [[91, 41, 43, 20.879744, 6.502985]]
#df = pd.DataFrame(arr, columns=features)

In [58]:
acc = app.predict(arr)

c:\Users\bsc_inf_14_18.COMLAB\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [59]:
acc

array(['rice'], dtype=object)

In [60]:
import pickle

In [61]:
Pkl_Filename = "Pickel_RL_Model.pkl"

with open (Pkl_Filename, 'wb') as file:
    pickle.dump(model_4, file)

In [62]:
with open(Pkl_Filename, 'rb') as file:
    Pickled_Model = pickle.load(file)
    
Pickled_Model

RandomForestClassifier(n_estimators=25, random_state=2)